body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* Cor de fundo mais neutra para destacar o formulário */
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    position: relative; /* Adiciona posicionamento relativo ao container */
    max-width: 340px;
    margin: auto;
    background-color: #fd0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    display: inline-block; /* Torna o h1 inline para o ícone ficar ao lado */
    width: calc(100% - 50px); /* Ajusta a largura para dar espaço ao ícone */
}

#info-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px; /* Centraliza verticalmente o texto dentro do círculo */
    text-align: center; /* Centraliza horizontalmente o texto dentro do círculo */
    border-radius: 50%; /* Cria um círculo perfeito */
    background-color: #fff; /* Cor de fundo do círculo */
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.7); /* Sombra inicial para a animação */
    animation: pulse 2s infinite; /* Aplica a animação 'pulse' */
}

/* Animação que cria um efeito de 'pulso' ao redor do ícone */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
    }
}


.input-group {
    margin-bottom: 20px; /* Mais espaço entre os grupos de entrada */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 22px); /* Largura ajustada para preencher a largura do contêiner */
    padding: 10px;
    margin-bottom: 10px; /* Espaçamento entre os inputs */
    border: 2px solid #ddd;
    border-radius: 10px; /* Bordas dos inputs arredondadas */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna para efeito de inseto */
    font-size: 16px; /* Tamanho de fonte maior para legibilidade */
}

button {
    width: 100%;
    padding: 15px;
    background-color: #333; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 10px; /* Bordas do botão arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para o botão */
    cursor: pointer;
    font-size: 18px; /* Tamanho de fonte maior para legibilidade */
    margin-top: 20px; /* Espaço antes do botão */
}

button:hover {
    background-color: #555; /* Efeito hover para o botão */
}

#resultado {
    margin-top: 20px;
    font-size: 20px; /* Tamanho de fonte maior para o resultado */
    font-weight: bold;
    color: #333;
}
.mensagem-sucesso, .mensagem-alerta {
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Suaviza as transições de estilo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidade */
}

.mensagem-sucesso {
    color: #fff; /* Cor do texto para sucesso */
    background-color: #28a745; /* Verde Bootstrap */
}

.mensagem-alerta {
    color: #fff; /* Cor do texto para alerta */
    background-color: #dc3545; /* Vermelho Bootstrap */
}

/* Animação para quando as mensagens aparecem */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mensagem-sucesso, .mensagem-alerta {
    animation: slideIn 0.5s ease-out;
}
